.box {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: white;
}

.container{
    width: 450px;
    justify-content: center;
    display: flex;
}